html, body {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  background-color: #ffffff;
  color: #333438;
  margin: 0;
}

main {
  display: block;
}

.main-container {
  width: 1280px;
  margin: 0 auto;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-layout {
  display: table;
  width: 100%;
  height: 100%;
}

.page-main {
  background-color: #f1f2f6;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
}

.menu-toggle {
  width: 190px;
  margin-top: 85px;
}

.menu-toggle__list {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.menu-toggle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  border: 1px solid #D4D4D4;
  border-bottom: none;
  text-decoration: none;
  vertical-align: top;
  color: #000000;
  padding-left: 13px;
  cursor: pointer;
}

.menu_toggle__item--current {
  position: relative;
  background-color: #1e90ff;
  color: #ffffff;
}

.my-list {
  background-color: #ffffff;
  width: 690px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-right: 0;
}

.create__task-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-create label {
  margin-top: 29px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.button {
  align-self: flex-end;
  padding: 15px 38px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #ffffff;
  background-color: #3742fa;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.button:hover {
  background-color: #598bff;
}

.red-button {
  background-color: #ff4757;
  padding: 20px;
}

.red-button {
  margin: 0 auto;
  margin-bottom: 60px;
}

.input {
  color: #8F9BB2;
  border: 1px solid #e4e9f2;
  border-radius: 4px;
  background-color: #f7f9fc;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.input:hover {
  background-color: #e4e9f2;
}

.textarea {
  padding: 14px 15px;
  resize: none;
  margin-bottom: 10px;
  overflow: auto;
}

.notice-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notice-card-list li {
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.24px;
}

.notice-card-list li::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 3px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 15px;
}

.landing-notice-card {
  padding-left: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  font-family: "Myriad Pro", sans-serif;
}

.landing-notice-card h3 {
  width: 430px;
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 20px;
}